<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rullio Divers</title>
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body class="admin">

<div class="container p-0">

    <div class="admin-header">
        <div class="admin-header-aside">
            <b>Rullio Divers</b>
        </div>
        <div class="admin-header-content">
            <h5>Fulano D' tal</h5>
        </div>
    </div>

    <div class="admin-panel">
        <div class="admin-panel-aside">
            <div class="navbar-vertical-content scrollbar">
                <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                    <li class="nav-item">
                        <a class="nav-link" href="admin.html" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-home-alt"></span>
                                </span>
        
                                <span class="nav-link-text ps-2">Administration</span>
                            </div>
                        </a><!-- more inner pages-->
                    </li>
        
                    <!-- functionalities section -->
                    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                        <div class="col-auto navbar-vertical-label">Seguridad</div>
                        <div class="col ps-0">
                            <hr class="mb-0 navbar-vertical-divider">
                        </div>
                    </div><!-- parent pages-->
        
                    <li class="nav-item">
                        <a class="nav-link" href="admin-account.html" role="button" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-key"></span>
                                </span>
                                <span class="nav-link-text ps-2">Mi Cuenta</span>
                            </div>
                        </a><!-- parent pages-->
                    </li>
        
                    <div class="nav-item">
                        <a class="nav-link dropdown-indicator collapsed" href="#email" role="button" data-bs-toggle="collapse"
                            aria-expanded="false" aria-controls="email">
                            <i class="fas fa-angle-down caret"></i>
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-user-secret"></span>
                                </span>
                                <span class="nav-link-text ps-2">Usuarios</span>
                            </div>
                        </a>
        
                        <ul class="nav collapse" id="email">
                            <li class="nav-item">
                                <a class="nav-link" href="admin-account-list.html" data-bs-toggle="" aria-expanded="false">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-text ps-2">Lista de Usuarios</span>
                                    </div>
                                </a><!-- more inner pages-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="admin-account.html" data-bs-toggle="" aria-expanded="false">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-text ps-2">Nuevo Usuario</span>
                                    </div>
                                </a><!-- more inner pages-->
                            </li>
                        </ul><!-- parent pages-->
                    </div>
        
                    <div class="nav-item">
                        <a class="nav-link dropdown-indicator collapsed" href="#roles" role="button" data-bs-toggle="collapse"
                            aria-expanded="false" aria-controls="email">
                            <i class="fas fa-angle-down caret"></i>
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-lock"></span>
                                </span>
                                <span class="nav-link-text ps-2">Roles</span>
                            </div>
                        </a>
        
                        <ul class="nav collapse" id="roles">
                            <li class="nav-item"><a class="nav-link" href="app/e-commerce/c" data-bs-toggle=""
                                    aria-expanded="false">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-text ps-2">Lista de Permisos</span>
                                    </div>
                                </a><!-- more inner pages-->
                            </li>
                        </ul><!-- parent pages-->
                    </div>
        
                    <!-- functionalities section -->
                    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                        <div class="col-auto navbar-vertical-label">Actividades</div>
                        <div class="col ps-0">
                            <hr class="mb-0 navbar-vertical-divider">
                        </div>
                    </div><!-- parent pages-->
        
                    <li class="nav-item">
                        <a class="nav-link dropdown-indicator collapsed" href="#activities" role="button"
                            data-bs-toggle="collapse" aria-expanded="false" aria-controls="activities">
                            <i class="fas fa-angle-down caret"></i>
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-calendar-days"></span>
                                </span>
                                <span class="nav-link-text ps-2">Eventos</span>
                            </div>
                        </a>
                        <ul class="nav collapse" id="activities" style="">
                            <li class="nav-item">
                                <a class="nav-link" href" data-bs-toggle="" aria-expanded="false">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-text ps-2">Mis Eventos</span>
                                    </div>
                                </a><!-- more inner pages-->
                                <a class="nav-link" href" data-bs-toggle="" aria-expanded="false">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-text ps-2">Nuevo Evento</span>
                                    </div>
                                </a><!-- more inner pages-->
                            </li>
                        </ul><!-- parent pages-->
                    </li>
        
                    <div class="nav-item">
                        <a class="nav-link dropdown-indicator collapsed" href="#user" role="button" data-bs-toggle="collapse"
                            aria-expanded="false" aria-controls="user">
                            <i class="fas fa-angle-down caret"></i>
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-sun"></span>
                                </span>
                                <span class="nav-link-text ps-2">Excursiones</span>
                            </div>
                        </a>
                        <ul class="nav collapse" id="user">
                            <li class="nav-item"><a class="nav-link" href="pages/user" data-bs-toggle=""
                                    aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-text ps-2">Profile</span></div>
                                </a><!-- more inner pages-->
                            </li>
                            <li class="nav-item"><a class="nav-link" href="pages/user/" data-bs-toggle=""
                                    aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-text ps-2">Settings</span>
                                    </div>
                                </a><!-- more inner pages-->
                            </li>
                        </ul><!-- parent pages-->
                    </div>
        
                    <div class="nav-item">
                        <a class="nav-link dropdown-indicator collapsed" href="#pricing" role="button" data-bs-toggle="collapse"
                            aria-expanded="false" aria-controls="pricing">
                            <i class="fas fa-angle-down caret"></i>
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-map-pin"></span>
                                </span>
                                <span class="nav-link-text ps-2">Lugares</span>
                            </div>
                        </a>
                        <ul class="nav collapse" id="pricing">
                            <li class="nav-item"><a class="nav-link" href="pages/pricing/pricing" data-bs-toggle=""
                                    aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-text ps-2">Pricing
                                            default</span></div>
                                </a><!-- more inner pages-->
                            </li>
                            <li class="nav-item"><a class="nav-link" href="pages/pricing/pri" data-bs-toggle=""
                                    aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-text ps-2">Pricing
                                            alt</span></div>
                                </a><!-- more inner pages-->
                            </li>
                        </ul><!-- parent pages-->
                    </div>
                </ul>
            </div>
        </div>
        <div class="admin-panel-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <form action="#" enctype="multipart/form-data">
                            <div class="content-box">
                                <div class="content-box-header">
                                    <h4><span class="fas fa-key me-2"></span>Mi Cuenta</h4>
                                </div>
                                <div class="content-box-body">
                                    <div class="form-group mb-3">
                                        <label for="email" class="form-label">Correo</label>
                                        <input type="email" class="form-control" placeholder="correo@correo.com" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="name" class="form-label">Nombres</label>
                                        <input type="name" class="form-control" placeholder="Sebastian" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="name" class="form-label">Apellidos</label>
                                        <input type="name" class="form-control" placeholder="Grimodermo" />
                                    </div>
                                </div>
                                <div class="content-box-footer d-flex">
                                    <button class="btn btn-outline-primary w-100">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>