<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rullio Divers</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body>
    <main id="login">
        <a href="/" id="login-back-btn" class="d-none d-lg-block">Inicio</a>
        
        <form id="login-form" class="row px-3 py-4" action="" method="post">
            
            <h1 class="my-0 pt-0 mb-1">Registrarse</h1>

            <div class="form-group col-12 mb-4">
                <label class="form-label">Nombres</label>
                <input type="text" class="form-control" placeholder="Zoi" required>
            </div>
            <div class="form-group col-12 mb-4">
                <label class="form-label">Apellidos</label>
                <input type="text" class="form-control" placeholder="Yio" required>
            </div>
            <div class="form-group col-12 mb-4">
                <label class="form-label">Correo</label>
                <input type="email" class="form-control" placeholder="correo@correo.com">
            </div>
            <div class="form-group col-12 mb-4 d-flex flex-wrap">
                <label class="form-label d-block w-100">Escuela</label>
                <select name="" id="" class="form-select">
                    <option value="">Seleccionar Escuela</option>
                    <option value="">Escuela 1</option>
                    <option value="">Escuela 2</option>
                </select>
            </div>
            <div class="form-group col-7 col-lg-8 mb-4">
                <label class="form-label">Foto carnet</label>
                <input type="file" class="form-control" placeholder="carnet" required>
            </div>
            <div class="form-group col-5 col-lg-4 mb-4">
                <label class="form-label">ID carnet</label>
                <input type="number" class="form-control" placeholder="Carnet" required>
            </div>
            <div class="form-group col-12 mb-4">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" placeholder="• • • • • •">
            </div>
            <div class="form-group col-12 mb-4">
                <label class="form-label">Repetir Contraseña</label>
                <input type="password" class="form-control" placeholder="• • • • • •">
            </div>
            <div class="form-group d-flex justify-content-center pt-1">
                <button type="submit" class="btn btn-outline-light w-75">Registrarse</button>
                <a href="login.html" type="submit" class="btn btn-outline-secondary w-25 ms-4">Login</a>
            </div>
        </form>
    </main>

    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- <script src="assets/js/app.js"></script> -->
</body>

</html>