#login {
    align-items: center;
    background-clip: padding-box;
    background-color: $color-white-smoke;
    background-image: url(../img/bg-2.jpg);
    background-position: center bottom;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;

    &-back-btn {
        background-color: $color-white;
        border-radius: 0.25rem;
        color: $blue-primary-90;
        font-size: 1.2rem;
        font-weight: 700;
        left: 1rem;
        padding: 0.25rem 1.5rem;
        position: absolute;
        text-decoration: none;
        top: 1rem;
        
        &:hover {
            box-shadow: 0 0 10px 4px rgba($color-black, 0.25) ;
            color: $blue-primary;
        }
    }

    &-form {
        background-color: rgba($color-white, 0.2);
        border-radius: 2rem;
        box-shadow: 0 0 10px 4px rgba($color-black, 0.125);
        display: flex;
        margin: 1rem 0;
        max-width: 600px;
        min-height: 400px;
        min-width: 300px;
        padding: 3rem 2rem;
        width: 90%;
    }
    
    h1 {
        color: $color-white;
        font-weight: 700;
        padding: 0.75rem;
        text-align: center;
        text-shadow: 1px 1px 5px rgba($color-black, 0.8);
        text-transform: uppercase;
    }
    
    .form-label {
        color: $color-white;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0;
        padding-left: 4px;
        text-shadow: 1px 1px 5px rgba($color-black, 0.8);
        text-transform: uppercase;
    }

    .form-control, .form-select {
        border: none;
        box-shadow: none;
        box-shadow: 0 0 3px 2px rgba($color-black, 0.1);
        background-color: rgba($color-white, 0.1);
        border-bottom: 3px solid $color-white-smoke;
        color: $color-white;
        font-size: 1.2rem;
        outline: none;
        text-shadow: 1px 1px 5px rgba($color-black, 0.8);

        &:hover, &:focus, &:active {
            border-bottom: 3px solid $color-white;
        }

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $color-white-smoke;
            opacity: 0.9;
        }
    }

    .form-select {
        appearance: button;
        background-image: none;
        cursor: pointer;
        
        option {
            appearance: none;
            background-color: $color-white-smoke;
            color: $color-black;
            cursor: pointer;
            text-shadow: none;
            
            &:hover {
                background-color: $color-white;
            }
        }
    }
}