<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rullio Divers</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body>
    <main id="login">
        <a href="/" id="login-back-btn" class="d-none d-lg-block">Inicio</a>
        <form id="login-form" class="py-4" action="" method="post">
            <h1 class="my-0 pt-0 mb-1">Registrarse</h1>
            <div class="form-group mb-4">
                <label class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" placeholder="Zoi Ru Yio">
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Correo</label>
                <input type="email" class="form-control" placeholder="correo@correo.com">
            </div>
            <div class="form-group mb-4 d-flex flex-wrap">
                <label class="form-label d-block w-100">Escuela y Credencial</label>
                <input type="email" class="form-control" style="width: calc(75% - 10px); margin-right: 10px;" placeholder="Escuela de buzos Arroyo Hondo">
                <input type="number" class="form-control w-25" placeholder="1252251">
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" placeholder="• • • • • •">
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Foto carnet</label>
                <input type="file" class="form-control" placeholder="carnet">
            </div>
            <div class="form-group d-flex justify-content-center pt-1">
                <button type="submit" class="btn btn-outline-light w-75">Registrarse</button>
                <a href="login.html" type="submit" class="btn btn-outline-secondary w-25 ms-4">Login</a>
            </div>
        </form>
    </main>

    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- <script src="assets/js/app.js"></script> -->
</body>

</html>